---
import Layout from "../layouts/Layout.astro";
import chevron from "../assets/imgs/icons/chevron-right.svg";
import referralForm from "../assets/forms/referral-form.pdf";
import "../assets/stylesheets/shapes.css";
import "../styles/global.css";

const pageInfo = {
  title: "Clinical Neuropsychology Assessments - Mind Matters Memphis",
  description:
    "Comprehensive evaluations of brain function and changes in cognition. Learn more about our approach to patient care.",
};
---

<Layout page={pageInfo}>
  <div class="bg-dust text-midnight text-xl">
    <div class="bg-sage">
      <div class="headline-top bg-inlet">
        <h1
          class="text-4xl sm:text-5xl xl:text-6xl 2xl:text-7xl font-accessdisplay font-bold text-dust text-center pt-12 pb-24"
        >
          Clinical Neuropsychology
        </h1>
      </div>
      <div class="headline-bottom bg-dust p-4">
        <h2
          class="text-4xl sm:text-5xl xl:text-6xl 2xl:text-7xl font-accessdisplay font-bold text-inlet text-center pt-16 pb-8"
        >
          Comprehensive Assessments of Brain Function
        </h2>
        <div class="grid justify-items-center">
          <div class="text-midnight p-4 pb-12 max-w-[624px]">
            <p>
              Mind Matters Memphis provides clinical neuropsychological
              assessments for patients who have experienced a neurologic disease
              or insult via stroke/neurovascular accidents, traumatic brain
              injury (TBI), epilepsy, Parkinson’s disease, Multiple Sclerosis,
              or brain tumor.
            </p>
            <p class="pt-8 pb-4">Clinical Assessments are used to:</p>
            <ul class="grid gap-2 pl-4 sm:pl-8">
              <li>
                <div class="grid grid-cols-12 items-start list-inside">
                  <img
                    src={chevron.src}
                    alt=">"
                    class="text-coral h-10 w-10 justify-self-end"
                  />
                  <p class="col-span-10 pt-[0.35rem]">
                    Aid in the diagnosis of neurologic disorders
                  </p>
                </div>
              </li>
              <li>
                <div class="grid grid-cols-12 items-start list-inside">
                  <img
                    src={chevron.src}
                    alt=">"
                    class="text-coral h-10 w-10 justify-self-end"
                  />
                  <p class="col-span-10 pt-[0.35rem]">
                    Document the degree of cognitive damage due to a neurologic
                    injury
                  </p>
                </div>
              </li>
              <li>
                <div class="grid grid-cols-12 items-start list-inside">
                  <img
                    src={chevron.src}
                    alt=">"
                    class="text-coral h-10 w-10 justify-self-end"
                  />
                  <p class="col-span-10 pt-[0.35rem]">
                    Set a treatment plan for cognitive rehabilitation
                  </p>
                </div>
              </li>
              <li>
                <div class="grid grid-cols-12 items-start list-inside">
                  <img
                    src={chevron.src}
                    alt=">"
                    class="text-coral h-10 w-10 justify-self-end"
                  />
                  <p class="col-span-10 pt-[0.35rem]">
                    Establish a new functional baseline and inform decision
                    making (i.e., driving, financial management, living
                    situation)
                  </p>
                </div>
              </li>
              <li>
                <div class="grid grid-cols-12 items-start list-inside">
                  <img
                    src={chevron.src}
                    alt=">"
                    class="text-coral h-10 w-10 justify-self-end"
                  />
                  <p class="col-span-10 pt-[0.35rem]">
                    Track cognition over time for disease management, especially
                    after a new neurologic diagnosis, surgery, or injury
                  </p>
                </div>
              </li>
              <li>
                <div class="grid grid-cols-12 items-start list-inside">
                  <img
                    src={chevron.src}
                    alt=">"
                    class="text-coral h-10 w-10 justify-self-end"
                  />
                  <p class="col-span-10 pt-[0.35rem]">
                    Evaluate the cognitive side effects of medications
                  </p>
                </div>
              </li>
              <li>
                <div class="grid grid-cols-12 items-start list-inside">
                  <img
                    src={chevron.src}
                    alt=">"
                    class="text-coral h-10 w-10 justify-self-end"
                  />
                  <p class="col-span-10 pt-[0.35rem]">
                    Provide family/caregiver support
                  </p>
                </div>
              </li>
            </ul>
            <div class="pt-8">
              <p class="italic font-accessitalic">
                <i>
                  To request an appointment, please contact{" "}
                  <a
                    href="tel:+19017667500"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="underline"
                  >
                    901-766-7500
                  </a>{" "}
                  or email{" "}
                  <a
                    href="mailto:info@mindmattersmemphis.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="underline"
                  >
                    info@mindmattersmemphis.com
                  </a>
                </i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid justify-center bg-dust">
        <div class="about-parallelogram-wrap pb-2">
          <div
            class="contact-parallelogram bg-sand h-40 md:h-50 xl:h-64 flex flex-col justify-center justify-self-center mx-4 sm:mx-12 shadow-2xl w-[94dvw] sm:w-[88dvw] md:w-[80dvw]"
          >
            <span class="visually-hidden">
              A decorative parallelogram element, sand color, framing the header
              content.
            </span>
            <h3
              class="text-midnight text-4xl sm:text-5xl xl:text-7xl font-accessdisplay font-bold uppercase text-center flex flex-col justify-center items-center px-10"
            >
              Individualized Plans of Care
            </h3>
          </div>
        </div>
        <div class="grid sm:justify-center p-8">
          <div class="grid md:grid-cols-4">
            <div
              class="max-w-[600px] grid gap-4 sm:pt-6 lg:pt-12 md:col-span-3"
            >
              <p>
                Dr. Gould’s mission is to help patients maximize themselves -
                their quality of life, cognitive health, emotional health, and
                engagement with others - within their own individual contexts.
                She helps patients and their families adjust to their new normal
                after a neurologic event, even if it comes with some
                limitations.
              </p>
              <p>
                A clinical appointment can range from three to six hours, and is
                catered toward the patient’s age, unique health history, the
                referral question or cognitive concern, and goals. An evaluation
                to set a treatment plan for cognitive rehab 2-months post brain
                injury, for example, would be shorter than a comprehensive
                evaluation 12-months after injury to compare and establish a new
                functional baseline.
              </p>
              <p>
                During the appointment, Dr. Gould will ask questions about
                medical history, thinking skills, and mood. She will then
                administer non-invasive tests to measure different cognitive
                abilities (e.g. attention, memory, language/speech, visuospatial
                abilities, processing speed, executive functioning) based on the
                questions and concerns of the patient and referring provider.
              </p>
            </div>
            <div
              class="hidden clinic-chevron md:block h-52 bg-sage justify-self-end self-center rotate-180"
            >
              <span class="visually-hidden">
                Curved chevron (arrow), sage color, serving as a decorative
                element, pointing at the individualized plans of care text
                content.
              </span>
            </div>
          </div>
          <div class="grid md:grid-cols-4">
            <div
              class="hidden clinic-chevron md:block h-52 bg-coral justify-self-start self-center"
            >
              <span class="visually-hidden">
                Curved chevron (arrow), coral color, serving as a decorative
                element, pointing at the quote from Dr. Gould.
              </span>
            </div>
            <div
              class="max-w-[600px] grid gap-4 pt-4 sm:pt-8 lg:pt-12 md:col-span-3"
            >
              <p class="mb-4 sm:mb-8">
                Dr. Gould created Mind Matters Memphis to offer patients a more
                personalized healthcare experience. Her practice gives patients
                a space to feel heard and have their questions thoroughly
                answered. She prides herself on her attention to the social and
                mental health aspects of neurocognitive conditions, which can be
                overlooked in conventional medical settings.
              </p>
              <div
                class="border-4 rounded-md mx-4 md:rounded-none md:border-8 md:mx-12 max-w-3xl z-20 mb-4 sm:mb-10 border-inlet quote-frame-inlet italic font-accessitalic p-4"
              >
                <i>
                  “I’m here to help make my patients’ lives easier by providing
                  answers, helping them problem-solve, and giving them (and
                  their families) solutions during times of distress.”
                </i>
                <p class="font-accessdisplay text-end pr-8">- Dr. Gould</p>
              </div>
              <p>
                Mind Matters Memphis provides Recommendations Sessions after the
                assessment, in addition to a written report. A Recommendations
                Session includes a thorough explanation of the patient’s results
                and a plan of action with next steps the patient can take on
                their own, to help maximize life within the context of their
                results.
              </p>
              <p>
                Recommendations may include the local support of community
                resources and organizations specific to the patient’s results or
                diagnosis.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="relative min-h-48 bg-dust overflow-hidden">
        <div
          class="absolute top-0 right-0 border-t-[96px] border-t-dust border-b-0 border-r-100w border-r-inlet z-10"
        >
        </div>
        <div
          class="absolute bottom-0 left-0 border-b-[96px] border-sage border-t-0 border-l-100w border-l-inlet z-10"
        >
        </div>
      </div>
      <div class="bg-dust relative overflow-hidden">
        <div class="absolute bg-sage w-0 h-0 top-0 left-0 z-0">
          <div class="w-dvw bg-sage h-24"></div>
          <div
            class="bg-sage z-0 border-l-[50dvw] border-dust border-r-[50cqw] border-t-[5rem] md:border-t-[8rem] lg:border-t-[calc(25cqh-6rem)] border-t-sage"
          >
            <span class="visually-hidden">
              A decorative triangle element, sage green color, pointing downward
              at the reasons to see a neuropsychologist section.
            </span>
          </div>
        </div>
        <div
          class="relative h-44 sm:h-64 lg:h-64 w-dvw flex justify-center items-start"
        >
          <h2
            class="text-midnight uppercase text-4xl sm:text-5xl md:text-6xl lg:text-7xl pt-6 font-accessdisplay font-bold text-center underline decoration-line decoration-midnight decoration-4 z-10"
          >
            Reasons to See a Neuropsychologist
          </h2>
        </div>
      </div>
      <div class="bg-dust grid justify-center p-8">
        <div class="grid md:grid-cols-4">
          <div
            class="hidden clinic-chevron md:hidden h-52 bg-coral justify-self-start self-center"
          >
            <span class="visually-hidden">
              Curved chevron (arrow), coral color, serving as a decorative
              element, pointing at the quote from Dr. Gould.
            </span>
          </div>
          <div class="max-w-[600px] grid gap-4 md:col-span-4">
            <p class="sm:mb-4">
              Neuropsychological evaluations use non-invasive tests to assess
              cognitive abilities, including attention, processing speed,
              language/speech, visuospatial perception, memory, and executive
              functioning, as well as changes in mood or personality. The
              assessment will reveal the person’s cognitive strengths and
              weaknesses to document changes in cognition or behavior over time.
            </p>
            <p class="mb-4 sm:mb-8">
              A neuropsychologist can help determine whether these changes are
              due to disease or injury in the brain, a mental health condition,
              or a non-clinical etiology and provide resources for patients and
              their families.
            </p>
            <ul
              class="border-4 rounded-md sm:mx-4 md:rounded-none md:border-8 max-w-3xl z-20 sm:mb-10 border-inlet quote-frame-inlet pr-2 py-4 sm:p-4 sm:py-8 grid gap-4"
            >
              <li>
                <div class="grid grid-cols-12 items-start list-inside">
                  <img
                    src={chevron.src}
                    alt=">"
                    class="text-coral h-10 w-10 justify-self-end"
                  />
                  <p class="col-span-11 pt-[0.35rem]">
                    After a stroke or traumatic brain injury, to assess initial
                    cognitive impact and chart recovery over time
                  </p>
                </div>
              </li>
              <li>
                <div class="grid grid-cols-12 items-start list-inside">
                  <img
                    src={chevron.src}
                    alt=">"
                    class="text-coral h-10 w-10 justify-self-end"
                  />
                  <p class="col-span-11 pt-[0.35rem]">
                    For diagnosis or help managing symptoms of neurologic
                    disease, such as Parkinson's disease or Multiple Sclerosis
                  </p>
                </div>
              </li>
              <li>
                <div class="grid grid-cols-12 items-start list-inside">
                  <img
                    src={chevron.src}
                    alt=">"
                    class="text-coral h-10 w-10 justify-self-end"
                  />
                  <p class="col-span-11 pt-[0.35rem]">
                    Pre-surgical assessments for previously diagnosed
                    conditions, such as epilepsy or brain tumor
                  </p>
                </div>
              </li>
              <li>
                <div class="grid grid-cols-12 items-start list-inside">
                  <img
                    src={chevron.src}
                    alt=">"
                    class="text-coral h-10 w-10 justify-self-end"
                  />
                  <p class="col-span-11 pt-[0.35rem]">
                    To support medical epilepsy treatment and assess cognitive
                    impact of medications
                  </p>
                </div>
              </li>
            </ul>
            <p>
              Dr. Gould advocates for tracking cognition over time in epilepsy
              patients, both in newly diagnosed individuals and long-term
              patients. Serial neuropsychological assessments can help
              epileptologists determine seizure onset and whether uncontrolled
              seizures have had a cumulative impact on the brain. These serial
              assessments can also inform a surgical approach, if deemed
              necessary.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="bg-sage min-h-64 flex flex-col items-center justify-evenly gap-4 lg:gap-6 relative sm:mt-12 px-8 py-12 shadow-lg"
    >
      <div
        class="hidden lg:block absolute left-0 h-[30cqw] w-[15cqw] rounded-br-full rounded-tr-full bg-inlet border-r-4 border-b-8 border-t-8 border-inlet z-0"
      >
        <span class="visually-hidden">
          A decorative semicircle element, big sky blue color, sitting at the
          left side of the Contact Us section.
        </span>
      </div>
      <div
        class="hidden lg:block absolute left-0 h-[20cqw] w-[10cqw] rounded-br-full rounded-tr-full bg-sand border-r-6 border-coral z-0"
      >
        <span class="visually-hidden">
          A decorative semicircle element, sand and coral colors, sitting inside
          the larger blue semicircle on the left side of the section.
        </span>
      </div>
      <p class="max-w-prose">
        To request an appointment with Dr. Gould, please visit our contact page:
      </p>
      <a
        href="/astrosite/contact"
        class="bg-dust/80 font-bold font-accessbold sm:text-2xl p-4 px-6 sm:p-6 sm:px-12 border-2 border-midnight w-fit h-fit justify-self-center rounded-lg transition-all ease-in-out duration-200 relative shadow-md before:absolute before:bottom-[27.5%] before:left-[50%] before:h-[3px] before:w-0 before:origin-center before:rounded-sm before:bg-coral before:transition-all before:duration-300 before:ease-in-out before:content-[''] hover:before:left-[17%] hover:before:w-[66%] sm:hover:before:left-[22%] sm:hover:before:w-[56%] active:left-[1px] active:top-[2px] active:shadow-none"
      >
        Contact Us
      </a>
      <!-- <p class="max-w-prose italic font-accessitalic">
        <i>
          Mind Matters Memphis accepts Blue Cross Blue Shield (BCBS) insurance.
        </i>
      </p> -->
    </div>
    <div class="bg-dust flex justify-center p-4 pb-8 sm:p-8">
      <div
        class="text-midnight bg-dust p-4 grid gap-4 justify-center relative rounded-bl-xl text-xl max-w-[500px] md:gap-8 md:max-w-[800px]"
      >
        <h2
          class="text-4xl sm:text-6xl md:text-7xl text-center font-accessdisplay font-bold uppercase"
        >
          Referral Information
        </h2>
        <p>
          We welcome referrals from medical professionals including
          Neurologists, Epileptologists, Speech Therapists, Physical Medicine &
          Rehab professionals, and Primary Care or Emergency Medicine providers
          (especially in the case of stroke or concussion).
        </p>
        <p>
          Please complete the referral form and fax it - along with patient
          records - to 901-766-7550.
        </p>
        <a
          href={referralForm}
          target="_blank"
          rel="noopener noreferrer"
          class="bg-dust/80 font-bold font-accessbold sm:text-2xl p-4 sm:m-4 sm:p-6 sm:px-12 border-2 border-midnight w-fit h-fit justify-self-center rounded-lg transition-all ease-in-out duration-200 relative shadow-md before:absolute before:bottom-[27.5%] before:left-[50%] before:h-[3px] before:w-0 before:origin-center before:rounded-sm before:bg-coral before:transition-all before:duration-300 before:ease-in-out before:content-[''] hover:before:left-[7%] hover:before:w-[86%] sm:hover:before:left-[13%] sm:hover:before:w-[74%] active:left-[1px] active:top-[2px] active:shadow-none"
        >
          Download Referral Form
        </a>
      </div>
    </div>
  </div>
</Layout>
