---
import Layout from "../layouts/Layout.astro";
import chevron from "../assets/imgs/icons/chevron-right.svg";
import circle from "../assets/imgs/icons/circle-outline.svg";
import newPatient from "../assets/forms/new-patient-form.pdf";
import roiDisclose from "../assets/forms/release-disclose.pdf";
import roiObtain from "../assets/forms/release-obtain.pdf";
import referral from "../assets/forms/referral-form.pdf";

import "../assets/stylesheets/shapes.css";
import "../styles/global.css";

const pageInfo = {
  title: "New Patient Forms - Mind Matters Memphis",
  description:
    "View, download, and print new patient forms for your neuropsychology appointment.",
};
---

<Layout page={pageInfo}>
  <div class="text-accessbody">
    <div class="bg-dust text-midnight text-xl pt-8 sm:p-8 flex flex-col gap-8">
      <div
        class="contact-parallelogram bg-sand h-40 sm:h-50 md:h-64 flex flex-col justify-center justify-self-center mx-4 sm:mx-12 shadow-2xl"
      >
        <span class="visually-hidden">
          A decorative parallelogram element, sand color, framing the header
          content.
        </span>
        <h1
          class="text-midnight text-5xl sm:text-7xl xl:text-8xl font-accessdisplay font-bold uppercase text-center flex flex-col justify-center items-center"
        >
          Forms
        </h1>
      </div>
      <div class="md:grid md:grid-cols-9">
        <div
          class="hidden md:col-span-2 md:flex justify-end items-center mr-[12%]"
        >
          <div class="contact-chevron bg-inlet h-0 md:h-44 lg:h-56">
            <span class="visually-hidden">
              A decorative chevron element, big sky blue color, pointing to the
              right.
            </span>
          </div>
        </div>
        <div class="sm:px-8 md:col-span-6 xl:col-span-5 flex flex-col">
          <p class="p-8 pt-0">
            In addition to the in-person appointment, a comprehensive
            neuropsychological assessment depends on an accurate health history
            and background information. Each new patient should fill out the New
            Patient Paperwork, and may need to authorize Mind Matters Memphis to
            obtain records from another provider.
          </p>
          <p class="p-8 pt-0">
            All Mind Matters Memphis forms are listed below for your
            convenience.
          </p>
          <p class="p-8 pt-0">
            Please complete your New Patient Paperwork before arriving for your
            appointment.
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-fit mx-auto">
      <div class="text-midnight p-8 text-xl flex flex-col">
        <h2 class="text-2xl sm:text-3xl">Mind Matters Memphis Patient Forms</h2>
        <p class="py-4 font-accessitalic italic">
          <i>
            To download the following forms to your device, click the underlined
            text. The download will start automatically.
          </i>
        </p>
        <ul class="sm:pl-4">
          <li class="sm:pl-2 my-4">
            <div class="flex gap-2 items-center">
              <img
                src={chevron.src}
                alt=">"
                class="text-coral h-10 w-10 shrink-0"
              />
              <a
                href={newPatient}
                target="_blank"
                rel="noopener noreferrer"
                class="underline"
              >
                New Patient Paperwork
              </a>
            </div>
            <div class="flex gap-2 ml-12">
              <img
                src={circle.src}
                alt="游릭"
                class="text-sage h-4 w-4 shrink-0 mt-2"
              />
              <p>Background information and health history questionnaire.</p>
            </div>
          </li>
          <li class="sm:pl-2 my-4">
            <div class="flex gap-2 items-center">
              <img
                src={chevron.src}
                alt=">"
                class="text-coral h-10 w-10 shrink-0"
              />
              <a
                href={roiDisclose}
                target="_blank"
                rel="noopener noreferrer"
                class="underline"
              >
                Release of Information - Disclose
              </a>
            </div>
            <div class="flex gap-2 ml-12">
              <img
                src={circle.src}
                alt="游릭"
                class="text-sage h-4 w-4 shrink-0 mt-2"
              />
              <p>
                To authorize Mind Matters Memphis release information or records
                to another provider.
              </p>
            </div>
          </li>
          <li class="sm:pl-2 my-4">
            <div class="flex gap-2 items-center">
              <img
                src={chevron.src}
                alt=">"
                class="text-coral h-10 w-10 shrink-0"
              />
              <a
                href={roiObtain}
                target="_blank"
                rel="noopener noreferrer"
                class="underline"
              >
                Release of Information - Obtain
              </a>
            </div>
            <div class="flex gap-2 ml-12">
              <img
                src={circle.src}
                alt="游릭"
                class="text-sage h-4 w-4 shrink-0 mt-2"
              />
              <p>
                To permit Mind Matters Memphis to obtain information from
                another provider.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="text-midnight p-8 sm:pb-16 text-xl flex flex-col">
        <h2 class="text-2xl sm:text-3xl">Mind Matters Memphis Referral Form</h2>
        <ul class="sm:pl-4">
          <li class="sm:pl-2 my-4">
            <div class="flex gap-2 items-center">
              <img
                src={chevron.src}
                alt=">"
                class="text-coral h-10 w-10 shrink-0"
              />
              <a
                href={referral}
                target="_blank"
                rel="noopener noreferrer"
                class="underline"
              >
                Referral Form
              </a>
            </div>
            <div class="flex gap-2 ml-12">
              <img
                src={circle.src}
                alt="游릭"
                class="text-sage h-4 w-4 shrink-0 mt-2"
              />
              <p>Fax the completed form to 901-766-7550.</p>
            </div>
          </li>
          <li class="sm:pl-2 my-4">
            <span>For questions about referrals, please email:</span>{" "}
            <a
              href="mailto:referrals@mindmattersmemphis.com"
              target="_blank"
              rel="noopener noreferrer"
              class="underline text-[1.05rem] sm:text-xl"
              >referrals@mindmattersmemphis.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
